---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { client } from "../../../tina/__generated__/client";
import type { Post } from "../../../tina/__generated__/types";

export async function getStaticPaths() {
	const postsResponse = await client.queries.postConnection();
	const posts = postsResponse.data.postConnection.edges;

	if (!posts) {
		return [];
	}

	return posts.flatMap((edge) => {
		if (!edge?.node) {
			return [];
		}
		const slug = edge.node._sys.filename.replace(/\.md$/, "").toLowerCase();
		return [
			{
				params: { slug },
				props: edge.node,
			},
		];
	});
}

const { title, date, description, content, links } = Astro.props as Post;
const displayDate = date
	? new Date(date).toLocaleDateString("en-US", {
			year: "numeric",
			month: "long",
			day: "numeric",
		})
	: "";
---

<BaseLayout title={title}>
	<article class="max-w-3xl mx-auto px-4 py-8">
		<h1 class="text-4xl font-bold mb-4">{title}</h1>
		{date && <p class="text-gray-600 mb-2">Published on {displayDate}</p>}
		<p class="text-gray-700 mb-4">{description}</p>

		<div class="prose lg:prose-xl" set:html={content} />
		<div
			class="flex flex-col sm:flex-row justify-start items-start sm:items-center mt-8"
		>
			{
				links &&
					links
						.filter((link) => !!link)
						.map((link) => (
							<a href={link!.url} class="project-link mb-4 sm:mb-0 sm:mr-6">
								{link!.label}
							</a>
						))
			}
		</div>
	</article>
</BaseLayout>

<style>
	.prose {
		@apply text-gray-800 leading-relaxed;
	}
	.prose h2 {
		@apply text-2xl font-semibold mt-8 mb-4;
	}
	.prose p {
		@apply mb-4;
	}
	.prose a {
		@apply text-blue-700 hover:underline;
	}
	.prose ul,
	.prose ol {
		@apply ml-6 mb-4;
	}
	.prose li {
		@apply mb-2;
	}
	.project-link {
		@apply inline-block px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition duration-300 ease-in-out;
	}
</style>
