---
export interface Props {
	title: string;
	description: string;
	thumbnail: string;
	slug: string;
	date: string;
}

const { title, description, thumbnail, slug, date } = Astro.props;
---

<section class="background" style={{ backgroundImage: `url('${thumbnail}')` }}>
	<div class="project-container">
		<section class="more-info">
			<span class="project-title">{title}</span>
			<span class="project-date">{date}</span>
			<p class="project-description">
				{description}
			</p>
		</section>
		<a class="learn-more" href={`/experiences/${slug}`}>Learn More</a>
	</div>
</section>

<style>
	.background {
		background-size: cover;
		background-position: center;
		position: relative;
		border: 1px solid var(--text-color);
		transition: background-image var(--transition-normal);
		width: 100%;
		height: 300px;
	}

	.project-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity var(--transition-normal);
	}

	.project-container:hover {
		background-color: var(--text-color);
		opacity: 1;
	}

	.more-info {
		text-align: center;
	}

	.project-title {
		font-size: var(--font-xlarge);
		font-weight: bold;
		margin-bottom: var(--spacing-xs);
		color: var(--inverse-text-color);
		display: block;
	}

	.project-date {
		font-size: var(--font-small);
		color: var(--inverse-text-color);
		opacity: 0.9;
		margin-bottom: var(--spacing-sm);
		display: block;
	}

	.project-description {
		font-size: var(--font-medium);
		margin-bottom: var(--spacing-md);
		color: var(--inverse-text-color);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding: 0 1rem;
	}

	.learn-more {
		font-size: var(--font-large);
		text-decoration: none;
		color: var(--inverse-text-color);
		background-color: var(--primary-btn-color);
		padding: var(--spacing-sm) var(--spacing-md);
		border-radius: var(--radius-sm);
		transition: background-color var(--transition-normal);
	}

	.learn-more:hover {
		opacity: 0.6;
	}
</style>
